* {
    --darkblue: rgba(33, 24, 92, 1);
    --spacepurp: #513C8B;
    --purple: #9F36A8;
    --green: #B3E9C7;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #787f7b;
    ;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--darkblue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background: url(images/background.svg);
    background-color: rgba(33, 24, 92, 1);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: 'Inter Tight', sans-serif;
    cursor: url(icons/custom.svg), auto;
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}

button, a {
    cursor: url(icons/custom-recolor.svg), auto;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.navbar-brand-c {
    font-family: 'Nunito', sans-serif;
    margin-left: 10rem;
    font-size: 3rem;
    font-weight: 600;
    color: var(--green);
    text-decoration: none;
    color: var(--green);
    text-shadow: #9F36A8 3px 4px 5px;

}

.navbar-brand-c:hover {
    color: var(--purple);
    text-shadow: var(--green) 3px 4px 5px;

}

.hvr-rotate:hover, .hvr-rotate:focus, .hvr-rotate:active {
    -webkit-transform: rotate(350deg);
    transform: rotate(350deg);
    -moz-transform: rotate(350deg);
    -ms-transform: rotate(350deg);
    -o-transform: rotate(350deg);
}


.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 100vh;
}

.navbar {
    background-color: #0d0047b8;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.nav-item>a {
    color: white;
    text-shadow: #250369 2px 2px 3px;

}

.nav-item>a:hover {
    color: var(--green);
    text-shadow: #9F36A8 4px 4px 4px;

}

.nav-link {
    margin-right: 3rem;
}

.offcanvas {
    background-color: rgba(0, 0, 0, 0.295);
}

.btn-close{
    background-color: var(--green);
}

#offcanvasNavbarLabel>a {
    text-decoration: none;
    color: var(--purple);
}

.hero-title {
    width: 35vw;
    position: relative;
    top: 15rem;
    left: 10vw;
    color: white;
}

h1 {
    font-weight: 600;
    font-size: 5rem;
    color: var(--green);
    text-transform: uppercase;
}

h2 {
    font-size: 1.5rem;
}

.spaceship {
    animation: fly 3.5s ease-in-out forwards;
    -webkit-animation: fly 3.5s ease-in-out forwards;
    transform-origin: 100% 50% 25% 0%;
    position: relative;
    left: 100px;
    rotate: -20deg;
    bottom: 50px;
    animation-delay: .8s;
}

.spaceship-mobile {
    display: none;
}




@keyframes fly {
    100% {
        transform: translateX(-200px) translateY(0px) rotate(30deg);
        -webkit-transform: translateX(-200px) translateY(0px) rotate(30deg);
        -moz-transform: translateX(-200px) translateY(0px) rotate(30deg);
        -ms-transform: translateX(-200px) translateY(0px) rotate(30deg);
        -o-transform: translateX(-200px) translateY(0px) rotate(30deg);
    }

    30% {
        transform: translateX(-500px) translateY(-200px) rotate(50deg);
        -webkit-transform: translateX(-500px) translateY(-200px) rotate(50deg);
        -moz-transform: translateX(-500px) translateY(-200px) rotate(50deg);
        -ms-transform: translateX(-500px) translateY(-200px) rotate(50deg);
        -o-transform: translateX(-500px) translateY(-200px) rotate(50deg);
    }

    10% {
        transform: translateX(-600px) translateY(-100px) rotate(90deg);
        -webkit-transform: translateX(-600px) translateY(-100px) rotate(90deg);
        -moz-transform: translateX(-600px) translateY(-100px) rotate(90deg);
        -ms-transform: translateX(-600px) translateY(-100px) rotate(90deg);
        -o-transform: translateX(-600px) translateY(-100px) rotate(90deg);
    }
}

.spaceship:active {
    animation: shake 2s;
    animation-iteration-count: infinite;
    -webkit-animation: shake 2s;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.about-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    background-color: #b3e9c7ce;

}

.link {
    text-transform: none;
    color: #513C8B;
}

.link:hover {
    text-transform: none;
    color: #9F36A8;
}

.about-wrap>img {
    scale: .9;
    margin: 0 auto;
}

.about-wrap>img:active {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.about-text {
    margin-top: 3rem;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 3rem;
    color: white;
    font-size: 1.2rem;

}

.about-text>h2 {
    font-weight: 600;
    font-size: 3rem;
    color: var(--spacepurp);
    text-transform: uppercase;
}

/* .about-btn {
    margin-top: 2rem;
    padding: 15px;
    border: 0;
    border-radius: 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: #513C8B;
    color: white;
}

.about-btn:hover {
    background-color: #9F36A8;
} */

.skills-wrap {
    margin-bottom: 5rem;
}

.skills-wrap>h2 {
    color: var(--green);
    font-weight: 600;
    font-size: 4rem;
    text-transform: uppercase;
    margin-left: 10rem;
}

#helpimg {
    scale: .5;
}


.skill-card-wrap {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}



.skill-card {
    height: 100%;
    width: 80%;
    background-color: #b3e9c7ce;
    border-radius: 10px;
    padding-bottom: 1rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.skill-card>h2 {
    font-weight: 600;
    font-size: 2rem;
    color: var(--spacepurp);
    margin-left: 3rem;
    margin-top: 2rem;
}

.skill-card>ul {
    margin-top: 2rem;
}

.skill-card>ul>li {
    font-size: 1.5rem;
    color: white;
    margin-top: 1rem;
    margin-left: 2rem;
    padding-right: 1rem;
}

#calendar {
    scale: .5;
}

.carousel-control-prev {
    width: 10%;
}

.carousel-control-next {
    width: 10%;
}

.carousel-inner>h2 {
    font-weight: 600;
    font-size: 3rem;
    margin-left: 10%;
    color: var(--green);
    text-transform: uppercase;
}

.carousel-item {
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 90vh;
    position: relative;
    background-position: bottom;
    background-size: cover;
    background-color: #513c8bd0;
}

.carousel-text>h2 {
    font-size: 3rem;
    color: var(--green);
    font-weight: 600;
    margin-bottom: 2rem;

}

.carousel-img {
    width: 40%;
    float: right;
    position: relative;
    bottom: 390px;
    right: 200px;
}

.carousel-img-webapi {
    width: 40%;
    float: right;
    position: relative;
    bottom: 400px;
    right: 200px;
}

.container-carousel {
    position: absolute;
    width: 70vw;
    top: 170px;
    left: 200px;
}

.projects-btn {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 15px;
    border: 0;
    border-radius: 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: var(--green);
    color: white;
    text-transform: uppercase;

}

.projects-btn:hover {
    background-color: #9F36A8;

}

/* Projects for mobile */
.projects-wrap {
    display: none;
}

.demo-btn {
    margin-left: 2rem;
}

#barbless-mockup {
    left: 520px;
    top: -190px;
}

#portfolio-mockup {
    bottom: 320px;
}

#apod {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 40vw;
    margin-left: 6rem;
    margin-top: 3rem;
}

.contact-content {
    background-color: #b3e9c7b5;
    width: 100vw;
    height: 34rem;
    display: grid;
    grid-template-columns: .6fr 1fr;
    gap: 1rem
}

#callme {
    scale: .65;
    position: relative;
    bottom: 398px;
    right: -200px;
}

.contact-left {
    margin-top: 2rem;
    margin-left: 10rem;
    height: 30rem;
}

.contact-left>p {
    color: white;
}

.contact-right {
    margin-left: 10rem;
    height: 30rem;

}

.contact-wrap {
    margin-top: 10rem;
}

.contact-wrap>h2 {
    font-weight: 600;
    font-size: 3rem;
    margin-left: 10%;
    color: var(--green);
    text-transform: uppercase;
}

form>input {
    margin-top: 1.5rem;
    background-color: var(--spacepurp);
    color: white;
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding-left: 10px;

}

textarea {
    margin-top: 1.5rem;
    background-color: var(--spacepurp);
    color: white;
    width: 100%;
    border-radius: 20px;
    padding-left: 10px;
    height: 100px;

}

.submitbtn {
    width: 8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 15px;
    border: 0;
    border-radius: 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: #513C8B;
    color: white;
}

.submitbtn:hover {
    background-color: #9F36A8;
}

form>textarea::placeholder {
    color: white;
}

form>input::placeholder {
    color: white;
}

.footer-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: fit-content;
    background-color: var(--spacepurp);
}

.icons-wrap {
    height: fit-content;
    margin-left: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.icons-wrap>a>img {
    margin-top: 2rem;
    margin-right: 0rem;
}

.footer-wrap>span {
    color: white;
    font-size: 2rem;
    margin-top: 2.5rem;
    margin-left: 2rem;
}

.footer-wrap>button {
    height: 50%;
    width: 60%;
    margin-top: 2rem;
    margin-left: 2rem;
    text-transform: uppercase;
    background-color: var(--green);
    color: white;
    border: 0;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.footer-wrap>button:hover {
    background-color: #9F36A8;
}

#uparrow {
    scale: .7;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

/* Case studies */

.main-cases {
    width: 100vw;
    overflow: hidden;
    color: white;
}

.cases-h2 {
    line-height: 35px;
}

.cases-h1 {
    font-size: 3.5rem;
}

.hero-mockup {
    position: relative;
    top: 200px;
}

.hero-mockup-barbless {
    width: 30vw;
}

.hero-mockup-igcaption {
position: relative;
top: 25%;
}

.hero-mockup-portfolio {
    position: relative;
    top: 25%;
}

#reelmockup {
    margin-left: 35%;
}

.getstarted-btn {
    text-transform: uppercase;
    margin-top: 20px;
    height: 50px;
    width: 120px;
    color: white;
    background-color: #B3E9C7;
    border: 0;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.getstarted-btn:hover {
    background-color: #9F36A8;
}

.green-section {
    margin-top: 5rem;
    height: fit-content;
    margin-bottom: 2rem;
    background-color: #b3e9c7b5;
}

.green-section>h2 {
    font-weight: 600;
    margin-left: 10%;
    padding-top: 2rem;
    margin-bottom: 3rem;
    color: #513C8B;
    font-size: 2.5rem;
}

.green-section>p {
    font-weight: 500;
    margin-left: 10%;
    color: white;
    font-size: 1.8rem;
    margin-right: 10%;
    padding-bottom: 3rem;
}

.case-desc {
    margin-top: 3rem;
    margin-right: 10%;
    margin-left: 10%;
    color: white;
    font-size: 1.7rem;
}


.case-desc>h2 {
    font-weight: 600;
    font-size: 2.5rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.case-desc>p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.portfolio-mockup-iphone {
    margin-left: 15%;
}

.apod-wrapper {
    margin-top: 15vh;
    margin-left: 10vw;
    width: 80vw;
}

.apod-explanation {
    background-color: #513c8b9e;
}


/* Responsive mode */

@media screen and (max-width: 800px) {


    html {
        overflow-x: hidden;

    }

    .navbar-brand-c {
        margin-left: 2rem;
    }

    .hero-section {
        grid-template-columns: 1fr;
    }

    .hero-title {
        width: 80%;
        top: 8rem;
        grid-template-columns: 1fr;
    }

    h1, .cases-h1 {
        font-size: 2.3rem;
    }

    h2, .cases-h2 {
        font-size: .8rem;
        padding-right: 1rem;
    }

    .spaceship {
        display: none;
    }

    .spaceship-mobile {
        display: block;
        position: relative;
        bottom: 15%;
        right: 38%;
        scale: .7;
    }

    .about-wrap {
        grid-template-columns: 1fr;
        margin: 0;
    }

    .about-text {
        margin-left: 10%;
        margin-right: 7%;
        font-size: 1rem;
    }

    .portrait {
        display: none;
    }

    #helpimg {
        display: none;
    }

    #calendar {
        display: none;

    }

    .about-text>h2 {
        font-size: 1.5rem;
    }


    .skills-wrap>h2 {
        font-size: 1.8rem;
        margin-left: 10%;
        margin-top: 10%;
        margin-left: 10%;
    }

    .skill-card-wrap {
        grid-template-columns: 1fr;
    }

    .skill-card {
        width: 100%;
    }

    .skill-card>h2 {
        font-size: 1.5rem;
    }


    .skill-card>ul>li {
        font-size: 1rem;
    }

    .carousel-img {
        display: none;
    }

    .footer {
        grid-template-columns: 1fr;
    }

    .icons-wrap {
        grid-template-columns: 1fr;
    }

    .icons-wrap>a>img {
        width: 30px;
    }


    #myCarousel {
        display: none;
    }

    #callme {
        display: none;
    }

    .projects-wrap {
        display: block;
    }

    .projects-wrap>h2 {
        color: var(--green);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.8rem;
        margin-left: 10%;
        margin-top: 10%;
        margin-left: 10%;
    }

    .projects-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100vw;
        margin: 0 auto;
    }

    .project-card {
        height: fit-content;
        width: 80%;
        background-color: #b3e9c7b5;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        font-size: 1.5rem;
        color: white;
        margin-left: 10%;
        margin-top: 10%;
        margin-left: 10%;
    }

    .project-card>h2 {
        font-weight: 600;
        font-size: 1.5rem;
        color: var(--spacepurp);
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 2rem;

    }

    .project-card>img {
        scale: .8;
        position: relative;
        bottom: 520px;
        left: 350px;
    }

    .project-card>p {
        margin-left: 2rem;
        font-size: 1rem;
        margin-right: 1rem;
    }

    .projects-btn {
        margin-top: 1rem;
        margin-left: 2rem;
        margin-bottom: 1rem;
        padding: 10px;
        font-size: 1rem;
        border: 0;
        border-radius: 20px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        background-color: var(--green);
        color: white;
        text-transform: uppercase;

    }

    .projects-btn:hover {
        background-color: #9F36A8;

    }

    .contact-wrap>h2 {
        font-weight: 600;
        font-size: 2rem;
    }

    .contact-content {
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .contact-left {
        margin-top: 2rem;
        margin-left: 10%;
        height: fit-content;
        margin-right: 10%;
    }

    .footer-wrap {
        grid-template-columns: 1fr;
    }

    .footer-wrap>span {
        font-size: 1rem;
        padding-top: 1rem;
        margin: 0 auto;
    }

    .icons-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 50%;
        margin: 0 auto;
    }

    .icons-wrap>a {
        width: 10%;
    }

    .footer-wrap>button {
        text-transform: uppercase;
        background-color: var(--green);
        color: white;
        border: 0;
        border-radius: 30px;
        margin-left: 20%;
        font-size: 1rem;
    }

    /* Cases */

    .hero-mockup-portfolio {
        scale: .45;
        position: relative;
        top: 15%;
        right: 25%;
    }

    .hero-mockup-igcaption {
        scale: .42;
        position: relative;
        right: 27%;
    }

    .hero-mockup-barbless {
        width: 65vw;
        position: relative;
        top: 100px;
        left: 50px;
    }

    .green-section>p {
        margin-left: 10%;
        margin-right: 10%;
        font-size: 1rem;
    }

    .green-section>h2 {
        margin-left: 10%;
        font-size: 2rem;
    }

    .case-desc>p {
        font-size: 1rem;
    }

    .case-desc>ul>li {
        font-size: 1rem;
    }

    .imgwidth-mobile {
        width: 95%;
        margin-bottom: 1rem;
    }




}