* {
    --darkblue: rgba(33, 24, 92, 1);
    --spacepurp: #513C8B;
    --purple: #9F36A8;
    --green: #B3E9C7;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    color: white;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--spacepurp);
    ;
}

::-webkit-scrollbar-thumb {
    background: var(--green);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background: url(images/background-stars.png);
    background-color: rgba(33, 24, 92, 1);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: 'Inter Tight', sans-serif;
    cursor: url(icons/custom.svg), auto;
    overflow-x: hidden;
}

button, a {
    cursor: url(icons/custom-recolor.svg), auto;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
    -webkit-transform: translateY(150px);
    -moz-transform: translateY(150px);
    -ms-transform: translateY(150px);
    -o-transform: translateY(150px);
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}



.logo {
    font-family: 'Nunito', sans-serif;
    margin-left: 10vw;
    font-size: 3rem;
    font-weight: 600;
    color: var(--green);
    text-decoration: none;
    color: var(--green);
    text-shadow: #9F36A8 3px 4px 5px;
    width: auto;
    position: absolute;
    z-index: 1;
}

.logo:hover {
    color: var(--purple);
    text-shadow: var(--green) 3px 4px 5px;
}

.nav-d>ul {
    list-style-type: none;
    float: right;
    margin-right: 10vw;
}

.nav-d>ul>li {
    float: left;
    margin-right: 3rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-d>ul>li>a {
    text-decoration: none;
    color: var(--green);
    text-shadow: #9F36A8 3px 4px 5px;
}

.nav-d>ul>li>a:hover {
    text-decoration: none;
    color: var(--purple);
    text-shadow: var(--green) 3px 4px 5px;
}

@media screen and (max-width: 1000px) {
    .nav-d>ul {
        display: none;
    }
}

.nav-s {
    font-size: .6rem;
    font-family: 'Nunito', sans-serif;
    color: var(--green);
    background-color: #513c8b50;
    text-decoration: none;
    text-shadow: #9F36A8 3px 4px 5px;
    position: absolute;
    right: 0;
    box-shadow: 0 0 3em rgba(32, 32, 32, 0.21);
    transform: translateX(100%);
    transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
    -webkit-transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
    -moz-transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
    -ms-transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
    -o-transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
    z-index: 2;
}

.nav__list {
    list-style: none;
    margin-left: -10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 98vh;
    padding: 3em 6em;
}

.nav__item {
    margin-bottom: 3em;
    font-size: 1.5rem;
    font-weight: 600;
}

.nav__link {
    text-decoration: none;
    color: var(--green);
}

.nav__link:hover {
    color: var(--purple);
    text-shadow: var(--green) 3px 4px 5px;

}

.nav__toggle {
    position: relative;
    z-index: 2  ;
    top: 2em;
    left: -9vw;
    transform: translateX(-100%);
    background: var(--purple);
    padding: 1em .5em;
    border: 0;
    border-radius: .25em;
    scale: 2;
    display: none;
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    -ms-border-radius: .25em;
    -o-border-radius: .25em;
}

@media screen and (max-width: 1000px) {
    .nav__toggle {
        display: block;
    }
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: 2em;
    height: 3px;
    background: var(--green);

    transition: transform 350ms ease-in-out, opacity 200ms linear;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    
}

.hamburger::before {
    bottom: 6px;
}

.hamburger::after {
    top: 6px;
}


/* Navigation open styles */

.nav-open .nav-s {
    transform: translateX(0);
}

/* Change this stuff below */

.nav-open .hamburger {
    transform: rotate(45deg);
}

.nav-open .hamburger::before {
    opacity: 0;
}

.nav-open .hamburger::after {
    transform: rotate(90deg) translate(-6px);
}

.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    min-height: 100vh;
}

.hero-title {
    position: relative;
    top: 20%;
    left: 10vw;
    color: white;
}

h1 {
    font-weight: 600;
    font-size: 5vw;
    color: #b3e9c700;
    text-transform: uppercase;
    transform: scale(0.94);
    animation: scale 2s forwards cubic-bezier(0.5, 1, 0.89, 1);
    animation-delay: 1s;
    -webkit-animation: scale 2s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
    100% {
        transform: scale(1);
        color: var(--green);
    }
}


h2 {
    font-size: 1.4vw;
}

.typing {
    width: 100%;
    animation: typing 4s steps(36), step-end infinite alternate;
    animation-delay: 1s;
    white-space: nowrap;
    overflow: hidden;
    font-size: 2vw;
    -webkit-animation: typing 4s steps(36), step-end infinite alternate;
}

@keyframes typing {
    from {
        width: 0
    }
}


.spaceship {
    animation: slide-in 1.5s ease-in-out 1.5s both;
    animation-delay: .8s;
    z-index: -1;
    width: 100%;
    padding-right: 3rem;
    -webkit-animation: slide-in 1.5s ease-in-out 1.5s both;
}


/* ----------------------------------------------
 * Generated by Animista on 2022-12-1 17:9:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-br
 * ----------------------------------------
 */

 @keyframes slide-in {
    0% {
        -webkit-transform: translate(1000px, 1000px) skew(80deg, 10deg);
        transform: translate(1000px, 1000px) skew(80deg, 10deg);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translate(0, 0) skew(0deg, 0deg);
        transform: translate(0, 0) skew(0deg, 0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-br {
    0% {
        -webkit-transform: translate(1000px, 1000px) skew(80deg, 10deg);
        transform: translate(1000px, 1000px) skew(80deg, 10deg);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translate(0, 0) skew(0deg, 0deg);
        transform: translate(0, 0) skew(0deg, 0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}


.spaceship-mobile {
    display: none;
}

.about-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    background-color: #b3e9c7ce;

}


.about-wrap>img {
    width: 60%;
    padding-top: 1rem;
    margin: 0 auto;
    align-self: center;
}

.about-wrap>img:active {
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.about-text {
    text-align: justify;
    margin-top: 3rem;
    margin-right: 10vw;
    margin-bottom: 3rem;
    color: var(--spacepurp);
    font-size: 1.3vw;

}

.about-text>p {
    margin-left: 0;
}

.link {
    text-transform: none;
    color: #513C8B;
}

.link:hover {
    text-transform: none;
    color: #9F36A8;
}

.about-text>h2 {
    font-weight: 600;
    font-size: 3vw;
    color: var(--spacepurp);
    text-transform: uppercase;
}

.skills-wrap {
    margin-bottom: 5rem;
}

.skills-wrap>h2 {
    color: var(--green);
    font-weight: 600;
    font-size: 4vw;
    text-transform: uppercase;
    margin-left: 10vw;
    margin-top: 3rem;
}

#helpimg {
    scale: .5;
}

.skill-card-wrap {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.skill-card {
    height: 100%;
    width: 80%;
    padding-right: 1vw;
    background-color: #b3e9c7ce;
    border-radius: 10px;
    padding-bottom: 1rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.skill-card>h2 {
    font-weight: 600;
    font-size: 2vw;
    color: var(--spacepurp);
    margin-left: 3rem;
    margin-top: 2rem;
}

.skill-card>p {
    margin-left: 3rem;
    margin-right: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: #513C8B;
}

.skill-card>ul {
    margin-top: 2rem;
}

.skill-card>ul>li {
    font-size: 1rem;
    color: white;
    margin-top: 1rem;
    margin-left: 2rem;
    padding-right: 1rem;
}

/* Projects */

#calendar {
    scale: .5;
}

.carousel-control-prev {
    width: 10%;
}

.carousel-control-next {
    width: 10%;
}

.projects-h2 {
    font-weight: 600;
    font-size: 3vw;
    margin-left: 10%;
    color: var(--green);
    text-transform: uppercase;
}

.carousel-item {
    min-height: 90vh;
    width: 80vw;
    margin-right: 10vw;
    margin-left: 10vw;
    background-color: #513c8bd0;
}

.carousel-text {
    padding-left: 4rem;

}

.carousel-text>h2 {
    font-size: 3vw;
    color: var(--green);
    font-weight: 600;
    margin-bottom: 2rem;
}

.carousel-text>p {
    margin-left: 0;
}

.carousel-img {
    width: 50%;
    float: right;
    position: relative;
    bottom: 400px;
}

#portfolio-mockup {
    position: relative;
    padding-top: 3rem;
    padding-right: 8rem;
    width: 120%;
}

#webapi-mockup {
    position: relative;
    padding-right: 8rem;

    width: 120%;

}

#webshop-mockup {

    position: relative;
    padding-top: 3rem;
    padding-right: 8rem;
    width: 120%;
}

#barbless-mockup {
    width: 100%;
    padding-right: 5rem;

}

.container-carousel {
    position: absolute;
    top: 5rem;
    width: 100%;
}

/* Apod with vue */

#vapp {
    display: grid;
    padding: 0 2rem 0 2rem;
    padding-bottom: 5rem;
    grid-template-columns: 1fr 1fr;
    min-height: fit-content;
}

.apod-left>h2 {
    font-size: 1.3vw;
}

.apod-left>h3 {
    font-size: 2vw;
    color: #B3E9C7;
}

.apod-left>p {
    margin-left: 0;
    font-size: 1vw;
    text-align: justify;
    padding-right: 3vw;
}

#media-container {
    margin-top: 5rem;
    width: 90%;
    border-radius: 10px;
    min-height: 100%;
}

.apod-media>img {
    max-width: 70%;
}

.apod-media>iframe {
    width: 70%;
}



.projects-btn, .apod-btn {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 15px;
    border: 0;
    border-radius: 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: var(--green);
    color: var(--spacepurp);
    text-transform: uppercase;
}

.projects-btn:hover, .apod-btn:hover {
    background-color: #9F36A8;
    color: white;
}

/* Swiper for mobile */

.swiper {
    height: fit-content;
    display: none;
}

.swiper-content {
    background-color: #513C8B;
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.swiper-content>h2 {
    margin-left: 2rem;
    padding-top: 2rem;
    color: #B3E9C7;
    font-size: 1.4rem;
}

.swiper-content>p {
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    font-size: .9rem;
}


/* Contact section */

.contact-content {
    background-color: #b3e9c7b5;
    width: 100vw;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem
}

.contact-left {
    margin-top: 2rem;
    margin-left: 10vw;
}

.contact-left>p {
    margin-left: 0;
}

.contact-right>img {
    margin-left: 10%;
    scale: .9;

}

.slide-in-blurred-right {
    -webkit-animation: slide-in-blurred-right 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-right 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation-delay: 3s;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-1 16:45:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-right {
    0% {
        -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-right {
    0% {
        -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}


#callme:active {
    -webkit-animation: slide-out-blurred-right 1s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
    animation: slide-out-blurred-right 1s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-1 16:59:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-blurred-right
 * ----------------------------------------
 */
@keyframes slide-out-blurred-right {
    0% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
        transform: translateX(1000px) scaleX(2) scaleY(0.2);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
}



.contact-left>p {
    color: white;
}


.contact-wrap {
    margin-top: 10vw;
}

.contact-wrap>h2 {
    font-weight: 600;
    font-size: 3vw;
    margin-left: 10%;
    color: var(--green);
    text-transform: uppercase;
}

form>input {
    margin-top: 1.5rem;
    background-color: var(--spacepurp);
    color: white;
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding-left: 10px;

}

textarea {
    margin-top: 1.5rem;
    background-color: var(--spacepurp);
    color: white;
    width: 100%;
    border-radius: 20px;
    padding-left: 10px;
    height: 100px;

}

.submitbtn {
    width: 8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 15px;
    border: 0;
    border-radius: 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: #513C8B;
    color: white;
}

.submitbtn:hover {
    background-color: #9F36A8;
}

form>textarea::placeholder {
    color: white;
}

form>input::placeholder {
    color: white;
}

.footer-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 10vh;
}

.icons-wrap {
    width: fit-content;
    margin-left: 10vw;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.icons-wrap>a>img {
    margin-top: 2rem;
    margin-right: 1rem;
    scale: .5;
}

#linkedIn {
    margin-left: 20px;
}

.footer-wrap>span {
    color: white;
    font-size: 1.5vw;
    margin-left: 2rem;
    margin-top: 20%;
}

.footer-wrap>button {
    height: 3rem;
    width: 60%;
    margin-top: 17%;
    margin-left: 2rem;
    text-transform: uppercase;
    background-color: var(--green);
    color: var(--spacepurp);
    border: 0;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.footer-wrap>button:hover {
    background-color: #9F36A8;
    color: white;
}

#uparrow {
    scale: .7;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

/* Case studies */

.load-bar {
    width: 0%;
    height: 15px;
    background: linear-gradient(to right, #B3E9C7, #9F36A8);
    border-radius: 10px;
    position: sticky;
    top: .5rem;
    z-index: 1;
}

.load-bar::after {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    content: url(icons/custom-recolor.svg);
    width: 20px;
    height: 20px;
}

.main-cases {
    width: 100vw;
    overflow: hidden;
    color: white;
}

.cases-h2 {
    line-height: 35px;
}

.cases-h1 {
    font-size: 4vw;
}

.hero-mockup {
    position: relative;
    top: 200px;
}

.hero-mockup-barbless {
    width: 80%;
}

.hero-mockup-igcaption {
    position: relative;
    top: 25%;
}

.hero-mockup-portfolio {
    position: relative;
    top: 25%;
}

#reelmockup {
    margin-left: 35%;
}

.getstarted-btn {
    text-transform: uppercase;
    margin-top: 20px;
    height: 50px;
    width: 120px;
    color: white;
    background-color: #B3E9C7;
    border: 0;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.getstarted-btn:hover {
    background-color: #9F36A8;
}

.green-section {
    min-width: 100vw;
    margin-top: 5rem;
    min-height: 60vh;
    margin-bottom: 2rem;
    background-color: #b3e9c7b5;
}

.green-section>h2 {
    font-weight: 600;
    margin-left: 10%;
    padding-top: 2rem;
    margin-bottom: 3rem;
    color: #513C8B;
    font-size: 2.5rem;
}

.green-section>p {
    font-weight: 500;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    font-size: 1.8rem;
    padding-bottom: 3rem;
    text-align: justify;
}

.green-section-grid {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
}



.green-left>p {
    margin-right: 3vw;
    font-size: 1.3rem;
    text-align: justify;
}

.green-right>img {
    width: 100%;
    scale: 1;
    margin: 0 auto;

}

.barbless-gear-img {
    width: 100%;
    margin-top: 7rem;
}

.barbless-img {
    width: 48%;
    padding-top: 2rem;
    padding-right: 1rem;
}

@media screen and (max-width: 800px) {
    .green-section-grid {
        grid-template-columns: 100%;
    }
    .load-bar {
        width: 0%;
        height: 15px;
        background: linear-gradient(to right, #B3E9C7, #9F36A8);
        border-radius: 10px;
        position: sticky;
        top: .5rem;
        /* Stick to the top of the page */
        z-index: 1;
        /* Make sure the load bar is on top of other content */
    }


}


.case-desc {
    margin-top: 3rem;
    margin-right: 10%;
    margin-left: 10%;
    color: white;
    font-size: 1.7rem;
}


.case-desc>h2 {
    font-weight: 600;
    font-size: 2.5rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.case-desc>p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    text-align: justify;
}

.case-desc>ul>li {
    font-size: 1.1rem;
    text-align: justify;
}

.portfolio-mockup-iphone {
    margin-left: 15%;
}

.apod-wrapper {
    margin-top: 15vh;
    margin-left: 10vw;
    width: 80vw;
}

.apod-explanation {
    background-color: #513c8b9e;
}

.hide {
    display: none;
}


/* Responsive mode */

@media screen and (max-width: 800px) {


    html {
        overflow-x: hidden;

    }

    .navbar-brand-c {
        margin-left: 2rem;
    }

    .hero-section {
        grid-template-columns: 1fr;
    }

    .hero-title {
        width: 80%;
        top: 8rem;
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 2rem;
    }


    h2, .cases-h2 {
        font-size: .8rem;
        padding-right: 1rem;
    }

    .spaceship {
        display: none;
    }

    .spaceship-mobile {
        display: block;
        position: relative;
        bottom: 20%;
        right: 38%;
        scale: .7;
    }

    .about-wrap {
        grid-template-columns: 1fr;
        margin: 0;
    }

    .about-text {
        margin-left: 10%;
        margin-right: 7%;
        font-size: 1rem;
    }

    .about-text>h2 {
        font-size: 1.5rem;
    }

    #helpimg, #calendar {
        display: none;
    }

    .skill-card-wrap {
        grid-template-columns: 1fr;
    }

    .skill-card {
        width: 100%;
    }

    .skill-card>h2 {
        font-size: 1.5rem;
    }


    .skill-card>ul>li {
        font-size: 1rem;
    }

    .swiper {
        display: block;
    }

    .carousel-img {
        display: none;
    }

    .footer {
        grid-template-columns: 1fr;
    }

    .icons-wrap {
        grid-template-columns: 1fr;
    }

    .icons-wrap>a>img {
        width: 30px;
    }


    #myCarousel {
        display: none;
    }

    #callme {
        display: none;
    }

    .projects-wrap {
        display: block;
    }

    .projects-h2 {
        color: var(--green);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.8rem;
        margin-left: 10vw;
        margin-top: 10vw;
        margin-left: 10vw;
        margin-bottom: 2vh;
    }

    .projects-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100vw;
        margin: 0 auto;
    }

    .project-card {
        height: fit-content;
        width: 80%;
        background-color: var(--spacepurp);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        font-size: 1.5rem;
        color: white;
        margin-left: 10%;
        margin-bottom: 10vh;
        margin-left: 10%;
    }

    .project-card>h2 {
        font-weight: 600;
        font-size: 1.5rem;
        color: var(--green);
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 2rem;

    }

    .project-card>img {
        scale: .8;
        position: relative;
        bottom: 520px;
        left: 350px;
    }

    .project-card>p {
        margin-left: 2rem;
        font-size: 1rem;
        margin-right: 1rem;
    }

    .projects-btn {
        margin-top: 1rem;
        margin-left: 2rem;
        margin-bottom: 1rem;
        padding: 10px;
        font-size: 1rem;
        border: 0;
        border-radius: 20px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        background-color: var(--green);
        color: white;
        text-transform: uppercase;

    }

    .projects-btn:hover {
        background-color: #9F36A8;

    }

    .contact-wrap>h2 {
        font-weight: 600;
        font-size: 2rem;
    }

    .contact-content {
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .contact-left {
        margin-top: 2rem;
        margin-left: 10%;
        height: fit-content;
        margin-right: 10%;
    }

    .footer-wrap {
        grid-template-columns: 1fr;
    }

    .footer-wrap>span {
        font-size: 1rem;
        padding-top: 1rem;
        margin: 0 auto;
    }

    .icons-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 30%;
        margin: 0 auto;
    }

    .icons-wrap>a {}

    .footer-wrap>button {
        margin: 0 auto;
        width: 40%;

    }

    /* Cases */

    .hero-mockup-portfolio {
        scale: .45;
        position: relative;
        top: 15%;
        right: 25%;
    }

    .hero-mockup-igcaption {
        scale: .42;
        position: relative;
        right: 27%;
    }

    .hero-mockup-barbless {
        width: 65vw;
        position: relative;
        top: 100px;
        left: 50px;
    }

    .green-section>p {
        margin-left: 10%;
        margin-right: 10%;
        font-size: 1rem;
    }

    .green-section>h2 {
        margin-left: 10%;
        font-size: 2rem;
    }

    .case-desc>p {
        font-size: 1rem;
    }

    .case-desc>ul>li {
        font-size: 1rem;
    }

    .imgwidth-mobile {
        width: 95%;
        margin-bottom: 1rem;
    }




}

/* Reactive load bar */

.load-bar {
    width: 0%;
    height: 15px;
    background: linear-gradient(to right, #B3E9C7, #9F36A8);
    border-radius: 10px;
    position: sticky;
    top: .5rem;
    /* Stick to the top of the page */
    z-index: 1;
    /* Make sure the load bar is on top of other content */
}

.load-bar::after {
    /*Positiontheiconattheendoftheloadbar*/
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    /*Addtheiconimage*/
    content: url(icons/custom-recolor.svg);
    width: 20px;
    height: 20px;
    transform: translateY(-50%) rotate(360deg);
    /*Usethetransitionpropertytosmoothlyanimatetherotation*/
    transition: transform 1s linear;
    -webkit-transition: transform 2s linear;
}